<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Film House</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

	<div class="d-flex" id="wrapper">

		<!-- Sidebar -->
		<div class="bg-light border-right" id="sidebar-wrapper">
			<div class="sidebar-heading">Film House</div>
			<div class="list-group list-group-flush">
				<a href="movie_list" class="list-group-item list-group-item-action bg-light">Movie</a>
				<a href="actor_list" class="list-group-item list-group-item-action bg-light">Actor</a>
				<a href="review_list" class="list-group-item list-group-item-action bg-light">Review</a>
			</div>
		</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">

			<nav
				class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
				<button class="btn btn-primary" id="menu-toggle">Toggle
					Menu</button>
			</nav>

			<div class="container-fluid">
				<h1 class="mt-4">Movie List</h1>
				<table border="1" id="movie_table">
					<tr th:each="movie : ${movieList}">
						<td><img th:src="${movie.posterUrl}"
							src="https://movie-phinf.pstatic.net/20191204_91/15754257752042kHvB_JPEG/movie_image.jpg" class="moviePoster"></td>
						<td th:text="${movie.name}" width="200px">영화 제목</td>
						<td th:text="${movie.releaseDate}" width="100px">영화 개봉일</td>
						<td th:text="${movie.madeCon}">제작 국가</td>
						<td th:text="${movie.runtime}" width="50px">상영시간</td>
						<td th:text="${movie.genre}" width="70px">장르</td>
						<td th:text="${movie.director}" width="100px">감독</td>
						<td th:text="${movie.mainActor}" width="70px">주연 배우</td>
					</tr>
					
				</table>
				
				<a href="movie_add">영화 추가</a>
				<!--<ul class="movie_list">
					<li th:each="movieList : ${MovieList}"><img
						th:src="${movieList.posterUrl}" src="포드_V_페라리_포스터.jpg"
						class="moviePoster">

						<div class="movDiv">
							<div class="info_t1">
								<p th:text="${movieList.name}" class="movieName">이름</p>
								<span class="split">|</span>
								<p th:text="${movieList.releaseDate}" class="movieDate">개봉일</p>
								<span class="split">|</span>
								<p th:text="${movieList.madeCon}" class="movieCon">제작국가</p>
							</div>
							<div class="info_t2">
								<p th:text="${movieList.runtime}" class="movieTime">상영시간</p>
								<span class="split">|</span>
								<p th:text="${movieList.genre}" class="movieGenre">장르</p>
							</div>
							<div class="info_t3">
							
								<p th:text="${movieList.director}" class="movieDirector">감독</p>
								<span class="split">|</span>
								<p th:text="${movieList.mainActor} " class="movieActor">주연 배우</p>
							</div>
						</div></li>
				</ul> -->
			</div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Menu Toggle Script -->
	<script>
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
	</script>

</body>

</html>
